@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 4px;
  margin: 4px;
  border: 1px solid #c90;
  border-radius: 4px;
  background: #fa0;
  text-align: center;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
/*ここから*/
/* flexboxを使った指定：すべてのアイテムに一括指定した場合 */

/* flexboxを使った指定：各アイテムに指定した場合 */

/* flexboxを使った指定：すべてのアイテムに一括指定した場合 */

/* flexboxを使った指定：各アイテムに指定した場合 */

/*ここまで*/