@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 4px;
  margin: 4px;
  border: 1px solid #c90;
  border-radius: 4px;
  background: #fa0;
  text-align: center;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
/*ここから*/
/* flexboxを使った指定：すべてのアイテムに一括指定した場合 */
.container1{display: flex;}
.container1 li {flex:0 1 20px;}


/* flexboxを使った指定：各アイテムに指定した場合 */
.container2 {display: flex;}
.container2 .item1 {flex: 1 1 20px;}
.container2 .item2 {flex: 2 1 20px;}
.container2 .item3 {flex: 3 1 20px;}
.container2 .item4 {flex: 4 1 20px;}
/* flexboxを使った指定：すべてのアイテムに一括指定した場合 */
.container3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container3 li {flex: 0 0 200px;}

/* flexboxを使った指定：各アイテムに指定した場合 */
.container4 {display: flex;
justify-content: center;
}
.container4 .item1{ flex: 0 1 200px;}
.container4 .item2{ flex: 0 2 200px;}
.container4 .item3{ flex: 0 3 200px;}
.container4 .item4{ flex: 0 4 200px;}
/*ここまで*/