@charset "UTF-08";
*{
    box-sizing: border-box;
    font-family:  メイリオ;
    margin: 0;
}

body {
    background: #f8d8bf;
    margin: 0px;
}

article{
    background-color: #fff;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

header{
    position: absolute;
    top:40px ;
    left: 0px;
    background-color:#f83;
    color: #fff;
    padding: 10px;    
}

section{
    padding: 15px;
    border: 0.5px solid #ccc;
}

img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

h2{
    color:#f83 ;
    margin-bottom: 10px;    
}

ul,ol{
    padding-left: 1.2em;
}

address{
    text-align: center;
}
.btnArea{
    margin: 40px;
}
p.btn{
    margin: 0 auto 40px;
    width: 300px;
    text-align: center;

}
p.btn a {display: block;
    padding: 20px;
    background: #f83;
    color: #fff;
    text-decoration:none;
    border-radius: 8px;
    font-size: 1.2em;
}
.flexcontainer{
    display: flex;
    justify-content: space-around;

}