@charset "UTF-8";
*{
    color: #00f;
    font-size: 16px;
}
h1{
    background-color: #ff0;
    font-size : 50px;
}
div p{
    background-color: #eee;

}
li#colorRed{
    color: #f00;
}
li.colorBule{
    color: #00f;
}
input[type="text"]{
    background-color: #eee;
}
#red{
    color: #f00;
}
.blue{
    color:blue;
}
p{
    color:#666;
}