@charset "UTF-8";
* {
    font-family: 'Yuji Mai', serif;
}
p.gothic {
    font-family: YuGothic, "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
}
p.mincho {
    font-family: YuMincho, "ヒラギノ明朝 ProN", HGS明朝E, serif;
}
.fontsize{
    font-size: 16px;
}
.px{
    font-size: 20px;
}
.em{
    font-size: 2em;
}
.normal{
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
p.left{
    text-align: left;
}
p.right{
    text-align: right;
}
p.center{
    text-align: center;
}