@charset "UTF-8";
/*ここから */

/*ここまで */
.second {
  background-color: #ffc;
}
.second p {
  background-color: #f0c;
  color: #fff;
}
/*ここから */

/*ここまで */
p.parent {
  background-color: transparent;
  text-align: right;
  color: #000;
  position: relative;
  float: right;
  top: 10px;
  right: 20px;
}
.third {
  font-size: 20px;
}
.third p {
  width: 80%;
  background: #ffc;
}
/*ここから */

/*ここまで */