@charset "UTF-8";
/* h1要素に対する指定 */
h1 {
  font-size: 18px;
  margin: 20px 0 5px;
}
/* p要素に対する指定 */
p {
  margin: 0;
  line-height: 1;
}
/*ここから*/
/* span要素に対する指定 */
span{
  background: #60bfaa;
  color: #fff;
  padding: 5px;
  width: 60px;
  margin-bottom: 4px;
  text-align: center;
}

/* displayをそれぞれ指定 */
.inline span{
  display: inline;
}
.block span{
  display: block;
}
.inline-block span{
  display: inline-block;
}
.none span{
  display: none;
}

/*ここまで*/