@charset "utf-8";
body{margin: 0;}
.globalnav{
    width: 100%;
    margin-top: 20px;
    background: #333;
}
.globalnav ul {
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.navltem{
    border-left: 1px solid #999;
    text-align: center;
    flex: 0 1 22%;
}
.navltem:last-of-type{
    border-right: 1px solid  #999;
}
.navltem a{
    display: block;
    line-height: 1;
    color: #fff ;
    text-decoration: none;
}
.globalnav1 ul {
    list-style: square;
}
.globalnav2 ul {
    list-style: url(img/arrow2.png);
}